# List of files which must be ignored by git status command

# ignore .o files
*.o

# ignore .so files
*.so

# ignore files created during configure
*~
.version
Makefile
NEMORC.gen
NEMORC.local
NEMORC.sh
nemo_local.csh
nemo_local.sh
nemo_start.csh
nemo_start.sh
adm/
bin/
config.h
config.log
config.status
etc/
include
install.log
lib/
makedefs
nemo.pl
nemo_start
obj/
one.dat
tmp/
src/kernel/fortran/hdr_size
src/nbody/evolve/aarseth/nbody4/nbody4
src/nbody/evolve/directcode/directcode
src/nbody/evolve/hackcode/hackcode1/hackcode1
src/nbody/evolve/hackcode/hackcode1/hackcode1_qp
src/nbody/evolve/hackcode/hackcode1/hackforce
src/nbody/evolve/hackcode/hackcode1/hackforce_qp
src/nbody/evolve/sellwood/code1/galaxy
src/nbody/evolve/sellwood/code1/galaxy.a

# ignore Denhen's directories
usr/dehnen/falcON/acc/
usr/dehnen/falcON/bin/
usr/dehnen/falcON/dox/html/
usr/dehnen/falcON/inc/utils
usr/dehnen/falcON/lib/
usr/dehnen/falcON/manip/
usr/dehnen/falcON/utils
usr/dehnen/utils/inc/cachesize.h
usr/dehnen/utils/lib/
usr/dehnen/utils/obj
