#include <windows.h>
#include "voglwin.h"

VOGLICON ICON vogl.ico

VoglMenu MENU
BEGIN
    POPUP        "&Help"
    BEGIN
        MENUITEM "&About VOGL...", IDM_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About VOGL"
BEGIN
    CTEXT "Very Ordinary Windows Application"     -1,       0,  5, 144,  8
    CTEXT "VOGL" 		-1,	0, 14, 144,  8
    CTEXT "Version 1.2"         -1,	0, 34, 144,  8
    DEFPUSHBUTTON "OK"          IDOK,	53, 59,  32, 14,      WS_GROUP
END

