name: C/C++ CI

on: [push]

jobs:
  build:

    # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2004-Readme.md
    # https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md
    # runs-on: ubuntu-latestq
    runs-on: ubuntu-24.04 
    
    steps:
    - uses: actions/checkout@v1
    - name: apt install
      # run:  sudo apt install csh gfortran pgplot5 libhdf4-dev libhdf5-dev libcfitsio-dev libnetcdf-dev -y
      # run:  sudo apt install csh gfortran pgplot5
      run:  sudo apt install csh
    - name: autoconf
      run:  autoconf
    - name: configure
      # run: ./configure --with-yapp=pgplot --enable-debug
      # run: ./configure --without-csh
      run: CC=gcc-14 CXX=g++-14 F77=gfortran-14 ./configure 
    - name: build1
      run: make build1 
    - name: build2
      run: make build2
    - name: build3
      run: make build3
    - name: build4
      run: make build4
    - name: make check
      run: make check checklog
    - name: make bench
      run: make bench
    - name: make bench5
      run: make bench5
    
  build2:

    runs-on: macos-13
    
    steps:
    - uses: actions/checkout@v1
    - name: Configure
      run: CC=gcc-14 CXX=g++-14 F77=gfortran-14 ./configure --without-csh --with-yapp=ps
    - name: Build1
      run: make build1 
    - name: Build2
      run: make build2
    - name: Build3
      run: make build3
    - name: make check
      run: make check checklog
    - name: make bench
      run: make bench
    - name: make bench5
      run: make bench5

  build3:

    runs-on: macos-15-arm64
    
    steps:
    - uses: actions/checkout@v1
    - name: Configure
      run: ./configure --without-csh --with-yapp=ps
    - name: Build1
      run: make build1 
    - name: Build2
      run: make build2
    - name: Build3
      run: make build3
    - name: make check
      run: make check checklog
    - name: make bench
      run: make bench
    - name: make bench5
      run: make bench5
